<h1> Cute and funny short Movies </h1>

<table>
  <thead>
    <th>Title</th>
    <th>Video</th>
  </thead>
  <tbody>
    <tr>
      <td>Birds</td>
      <td><iframe src="https://www.youtube.com/embed/Gq0jfzgvvrM" frameborder="0" allowfullscreen></iframe></td></tr>

      <td>Bad Eggs</td>
      <td><iframe  src="https://www.youtube.com/embed/o2YVIAblybM" frameborder="0" allowfullscreen></iframe></td></tr>

      <td>Partly Cloudy</td>
      <td><iframe src="https://www.youtube.com/embed/-a6Pe1ovKHg" frameborder="0" allowfullscreen></iframe></td></tr>

      <td>Lifted</td>
      <td><iframe src="https://www.youtube.com/embed/mBlv-eV7lek" frameborder="0" allowfullscreen></iframe></td></tr>

      <td>Pigeons</td>
      <td><iframe  src="https://www.youtube.com/embed/oIlIVFBBbNw" frameborder="0" allowfullscreen></iframe></td></tr>
  </tbody>
</ul>
</table>
