<h1>Hey there! <br> You found another cute and funny short movie? <br>Great!</h1>

<div id='add_new_movie'>
  Want to add another movie?<br><br>
  <%= render 'add_new_movie_form' %>
</div>


<div id='preview_movie'>
  <iframe src=<%="#{@short_movie.link}"%> frameborder="0" allowfullscreen></iframe>
</div>

<%= render 'back_to_all_movies' %>
