<h1> Cute and funny short Movies </h1>

<div>
  <a id='add_new_movie' href="/short_movies/add">Add new short movie</a>
</div>

<%= render 'search_form' %>
<br>
<%= render 'search_yt_form' %>

<% @short_movies.each do |movie| %>
  <div id='short_movie'>
     <iframe src=<%="#{movie.link}"%> frameborder="0" allowfullscreen></iframe>
  </div>
<%end%>

