<h1> Cute and funny short Movies </h1>

<% if admin_signed_in? %>
  <div>
    <a id='add_new_movie' href="/short_movies/add">Add new short movie</a>
  </div>
<% else %>
    <a id='add_new_movie' href="/short_movies/suggest">Suggest new short movie</a>
<% end %>

<%= render 'search_form' %>
<br>
<%= render 'search_yt_form' %>

<% @short_movies.each do |movie| %>
  <div id='short_movie'>
     <iframe src=<%="#{movie.link}"%> frameborder="0" allowfullscreen></iframe>
  </div>
<%end%>

