<h1>N-Ine</h1>

<p>I am an ongoing ruby developer working in a startup in <a href='https://www.google.de/maps/place/Berlin/@52.5075419,13.4251364,10z/data=!3m1!4b1!4m2!3m1!1s0x47a84e373f035901:0x42120465b5e3b70'>Berlin</a>. I am a BSc Biology and changed my topic after realising I am a maker and not a learner. </p>
<p>Yeah, sure, to start with a new programming language is learning too, but it is also much trying out and testing. What means having fun to me. </p>

<%= tag :meta, :bubbling=> 'bubbling_variable', :content=> @bubbling_variable%>

<div id='canvas'>
<canvas id="myCanvas" ></canvas>
<%= javascript_include_tag 'bubbles.js'%>
<%= javascript_include_tag 'bubbles_main.js'%></div>
