<h1>Construction Area</h1>

<div>
	<p>This page was built with <a href='http://rubyonrails.org/'>rails</a>. Its main purpose is for me to intensify my rails knowledge. And try out my new found html/css/jquery skills</p>

	<p>I am learning rails with the help of tutorials like <a href='http://guides.rubyonrails.org/getting_started.html'>rails guide</a> or <a href='https://www.railstutorial.org/book'>michael hartls</a>. In video tutorials from Upcase and accompanied coding in Codecademy.</p>

	<p>I already understood how easy TDD (test driven development) with <a href='http://rspec.info/'>RSpec</a> is and like <a href='https://github.com/bbatsov/rubocop'>rubocop</a> a lot!!</p>
</div>

<div>
	<p>The first steps to build my page:
		<ol>
			<li>setup a new rails project</li>
			<li>generate new controller 'build_page' and 'personal_page'</li>
			<li>begin filling in input in 'Construction Area' </li>
			<li>starting to change the layout with html and css, link color and so on</li>
			<li>add <%= link_to 'fun page', fun_page_index_path %> to try out embedding youtube videos </li>
		</ol></p>
</div>
