/* line 1, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/api_page.scss */
.weather-widget {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  float: right;
  margin: 5px;
}

/* line 9, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/api_page.scss */
.weather_widget_explanation {
  float: left;
}

/* line 13, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/api_page.scss */
hr {
  border: 1px solid gray;
  clear: both;
}

/* line 18, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/api_page.scss */
#chart {
  width: 650px;
  height: 400px;
  border: 1px solid black;
  float: right;
}
/*header*/
/* line 4, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/main.scss */
.header {
  padding-top: 15px;
  background-color: lightgray;
  border-bottom: 1px solid gray;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/* line 13, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/main.scss */
.header #header_left {
  float: left;
  list-style: none;
}
/* line 17, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/main.scss */
.header #header_right {
  float: right;
  margin-right: 15px;
  list-style: none;
}

/*footer*/
/* line 26, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/main.scss */
.footer {
  background-color: gray;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 35, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/main.scss */
.footer ul {
  float: right;
  list-style: none;
}
/* line 38, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/main.scss */
.footer ul li {
  float: left;
  margin-right: 15px;
}

/* line 45, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/main.scss */
.yield {
  padding-top: 120px;
  overflow: scroll;
  margin-bottom: 60px;
}
/* line 1, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/pages.scss */
a:hover {
  background-color: black;
  color: white;
}

/* line 6, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/pages.scss */
h1 {
  text-align: center;
}

/* line 10, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/pages.scss */
#canvas {
  background-color: blue;
}

/* line 14, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/pages.scss */
#myCanvas {
  border: 1px solid black;
}

/* line 18, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/pages.scss */
a {
  color: blue;
}

/* line 22, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/pages.scss */
h2 {
  text-align: center;
}
/* line 1, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/short_movies.scss */
#short_movie {
  width: 427px;
  height: 250px;
  float: left;
  padding: 10px;
}

/* line 8, /Users/nora/Coding/MyRails/HitFox/my_homepage/homepage/app/assets/stylesheets/short_movies.scss */
iframe {
  width: 100%;
  height: 100%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

