<div>
  Next one is the <i>forecast weather</i> API from <a href='http://openweathermap.org/api'>OpenWeatherMap</a>.<br>
  So again I have to read the documentation of the API, will assign some space in the view and also take notes of each step.
</div>

<ol class='weather_widget_explanation'>
  <li>Already got an API key</li>
  <li>Read instructions for the usage carefully.</li>
  <li>Start implementing the forecast weather API.</li>
</ol>

<%= render 'get_forecast_weather' %>
