<h1>One world for all of us</h1>

<h2>
  What happens in vegas stays in vegas.. but what is with all the other places in our world?
</h2>

<div>
  Some years ago I was looking for a social project, to work at. I wanted to work hard, because I knew and know that there are so many people, animals, areas who need the help of <i>privileged</i> people. But it was terrible hard to find a project, where I didn't had to pay some 100 euros, just so that I can work there. I don't understant this concept..!
</div>

<div>
  Now that I know how to create my own website I will search for social projects that are free and list them here! If you know about any, just inform me and I add it here!
</div>

<div>
  <ul>
    <li><a href='http://www.animalpardnet.de/'>Animal pard net</a></br>
    Samira, the founder, lives there on the home made 'home for animals' with her family and some helpers and fights for better animal protection laws. They care for injured, old or homeless dogs and cats and there pupies. To work there involves living in a hard but also full of happy endings environment. Just visit the homepage and you will see!</li>
  </ul>
</div>
