<h1> Cute and funny short Movies </h1>
<p>You searched for the title: '<%= @search.term %>'<br>Here are your results:</p>

<% @result.each do |f| %>
  <div id='short_movie'>
     <iframe src=<%="#{f.link}"%> frameborder="0" allowfullscreen></iframe>
  </div>
<% end %>
