<h1> Cute and funny short Movies </h1>
<p>You searched for the title: '<%= @search.term %>'<br>Here are your results:</p>


<div id='short_movie'>
   <iframe src= <%= @result.link %> frameborder="0" allowfullscreen></iframe>
</div>

