<h1>API stands for <i>a</i>pplication <i>p</i>rogramming <i>i</i>nterface</h1>

<div>
  Here I am going to try some APIs out. So see how its going!
</div></br>

<hr>
<%= render 'curr_weather_api' %>
<hr>
<%= render 'forecast_weather_api' %>
<hr>
