.weather-widget{
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  float:right;
  margin:5px;
}

.weather_widget_explanation{
  float:left;
}

hr { 
  border: 1px solid gray;
  clear:both;
}

#chart{
  width:650px; 
  height:400px; 
  border: 1px solid black;
  float: right;
}
