// Place all the styles related to the build_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: #00cc66;
}
a:hover{
	background-color: black;
	color: white;
}

h1{
	text-align: center;
}