// Place all the styles related to the fun_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#canvas{
  background-color:blue;
}

#myCanvas{
  border: 1px solid black;
}

iframe{
  width: 427px;
  height: 250px;
}

a {
  color: blue;
}
