#short_movie {
  width: 427px;
  height: 250px;
  float: left;
  padding: 10px;
  clear:right;
}

iframe{
  width:100%;
  height:100%;
}

#search_form{
  float:right;
  padding-right: 10px;
}

#add_new_movie{
  float:left;
}

#preview_movie{
  float:right;
}
