<h1>One world for all of us</h1>

<h2>
  What happens in vegas stays in vegas.. but what is with all the other places in our world?
</h2>

<div>
  Some years ago I was looking for a social project, to work at. I wanted to work hard, because I knew and know that there are so many people, animals, areas who need the help of <i>privileged</i> people. But it was terrible hard to find a project, where I didn't had to pay some 100 euros, just for helping them. I don't understant this concept..!
</div>

<div>
  Now that I know how to create my own website I will search for social projects that are free and list them here! If you know about any, just inform me and I add it here!
</div>

<div>
  <ul>
    <li>Animal pard net(greece)</li>
  </ul>
</div>
