<header class='header'>
  <nav>
    <ul id='header_left'>
      <li>Here comes the left header </li>
    </ul>
    <ul>
      <li id='header_right'>Here comes the right header </li>
    </ul>
  </nav>
</header>
