<header class='header'>
  <nav>
    <ul id='header_left'>
      <li> N-Ine </li>
    </ul>
    <ul id='header_right'>
      <li> <%= link_to 'Social projects', pages_social_projects_path %> </li>
      <li> <%= link_to 'Like fun?', pages_fun_path %> </li>
      <li> <%= link_to 'Getting into APIs', '#' %> </li>
      <li> <%= link_to 'About me', pages_personal_path %> </li>
    </ul>
  </nav>
</header>
