<header class='header'>
  <nav>
    <ul id='header_left'>
      <li> N-Ine </li>
    </ul>
    <ul id='header_right'>
      <li > Social projects </li>
      <li > Like fun? </li>
      <li > Getting into APIs </li>
      <li > About me </li>
    </ul>
  </nav>
</header>
